@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(string.Format(Localizations.Localization.Menu_HelloMessage_Link_Format, User.Identity.GetUserName()), "Index", "Account")
        </li>
        <li>@Html.ActionLink(Localizations.Localization.Menu_LogOff_Link, "Logout", "Account")</li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Localizations.Localization.Menu_Register_Link, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Localizations.Localization.Menu_LogIn_Link, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
